/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 6:38:50 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 4:23:34 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 8:38:18 AM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 9:11:30 AM
    Author     : Lucian I. Last
*/
/*$navbar-default-toggle-hover-bg:				$color2;
$navbar-default-toggle-icon-bar-bg:		$color2;
$navbar-default-toggle-border-color:		$color2;*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 12:20:01 AM
    Author     : Lucian I. Last
*/
#cvHtml h4 {
  margin-top: 20px; }
#cvHtml table {
  width: auto !important;
  margin-bottom: 10px; }
  #cvHtml table tr > th,
  #cvHtml table tr > td {
    border-top: none; }

/*# sourceMappingURL=cv.css.map */
