/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 6:37:41 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 4:23:34 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 8:38:18 AM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 9:11:30 AM
    Author     : Lucian I. Last
*/
/*$navbar-default-toggle-hover-bg:				$color2;
$navbar-default-toggle-icon-bar-bg:		$color2;
$navbar-default-toggle-border-color:		$color2;*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2015, 2:38:47 PM
    Author     : Lucian I. Last
*/
.carousel.slide.fadding > .carousel-inner > .item {
  opacity: 0;
  transition: opacity 0.6s ease-in-out 0s !important;
  left: 0 !important;
  right: 0 !important; }
.carousel.slide.fadding > .carousel-inner > .active {
  opacity: 1; }
  .carousel.slide.fadding > .carousel-inner > .active.left, .carousel.slide.fadding > .carousel-inner > .active.right {
    opacity: 0; }
.carousel.slide.fadding > .carousel-inner > .next.left, .carousel.slide.fadding > .carousel-inner > .next.right,
.carousel.slide.fadding > .carousel-inner > .prev.left,
.carousel.slide.fadding > .carousel-inner > .prev.right {
  transition-delay: 0.3s !important;
  opacity: 1; }

#carousel-home img {
  height: 30em;
  margin: 0 auto 10px;
  display: block; }

@media (max-width: 767px) {
  #carousel-home img {
    height: auto;
    width: 100%; } }
#carousel-home .carousel-control {
  opacity: 0.2; }
  #carousel-home .carousel-control:not(:hover) {
    background-image: none; }
  #carousel-home .carousel-control:active {
    opacity: 0.5; }
  #carousel-home .carousel-control > span {
    color: #777777; }
  #carousel-home .carousel-control:hover > span {
    color: white; }

@media (min-width: 992px) {
  #carousel-home .carousel-control {
    background-image: none; }
    #carousel-home .carousel-control:hover span {
      text-shadow: 0 1px 8px black; }
    #carousel-home .carousel-control:active span {
      text-shadow: 0 1px 8px #BA8D42; } }

/*# sourceMappingURL=home.css.map */
