/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 6:25:48 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 4:23:34 PM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 8:38:18 AM
    Author     : Lucian I. Last
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 9:11:30 AM
    Author     : Lucian I. Last
*/
/*$navbar-default-toggle-hover-bg:				$color2;
$navbar-default-toggle-icon-bar-bg:		$color2;
$navbar-default-toggle-border-color:		$color2;*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 4:29:56 PM
    Author     : Lucian I. Last
*/
/**********************************/
/*  Full Screen Product           */
/*  ----------------------------  */
/*  .modal-responsive             */
/*  .modalDark				            */
/*  #carousel-full-img            */
/**********************************/
#fullScreen {
  padding-left: 0 !important; }
  #fullScreen .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%; }
    #fullScreen .modal-dialog .modal-body {
      padding: 0;
      padding-top: 10px; }

.modalDark .modal-backdrop {
  background-color: #1F1F1F; }
  .modalDark .modal-backdrop, .modalDark .modal-backdrop.in {
    opacity: 1 !important; }
.modalDark .modal-dialog {
  background-color: transparent; }
.modalDark .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none; }
.modalDark .modal-header {
  background-color: #525252;
  border-bottom-color: #1F1F1F;
  color: #D9D9D9; }
  .modalDark .modal-header .small {
    color: #BA8D42; }
.modalDark .close:not(:active):not(:hover):not(:focus) {
  color: red;
  opacity: 1; }
.modalDark .close {
  text-shadow: none; }
.modalDark .well {
  padding: 0 10px; }
  @media (max-width: 767px) {
    .modalDark .well {
      border-radius: 0; } }

.modal-header h4 {
  font-size: 21px; }
  .modal-header h4 small {
    font-size: 16px !important;
    font-weight: bold;
    vertical-align: top;
    padding-right: 10px; }

@media (max-width: 767px) {
  .modal-responsive {
    margin: 0; }
    .modal-responsive .modal-body {
      padding-left: 0;
      padding-right: 0; }
    .modal-responsive .img-ratio-responsive {
      margin-left: auto !important;
      margin-right: auto !important; } }
@media (max-width: 319px) {
  .modal-responsive .img-ratio-responsive div,
  .modal-responsive .img-ratio-responsive img {
    width: 100%; } }
@media (min-width: 320px) and (max-width: 359px) {
  .modal-responsive .img-ratio-responsive div {
    width: 310px;
    height: 234px; }
  .modal-responsive .img-ratio-responsive img {
    max-width: 308px;
    max-height: 232px; } }
@media (min-width: 360px) and (max-width: 599px) {
  .modal-responsive .img-ratio-responsive div {
    width: 350px;
    height: 264px; }
  .modal-responsive .img-ratio-responsive img {
    max-width: 348px;
    max-height: 262px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .modal-responsive .img-ratio-responsive div {
    width: 590px;
    height: 590px; }
  .modal-responsive .img-ratio-responsive img {
    max-width: 588px;
    max-height: 588px; } }
@media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-height: 849px) {
  .modal-responsive .img-ratio-responsive div {
    width: 718px;
    height: 539px; }
  .modal-responsive .img-ratio-responsive img {
    max-width: 716px;
    max-height: 537px; } }
@media (min-width: 992px) and (min-height: 850px) {
  .modal-responsive {
    width: 955px; }

  .modal-responsive .img-ratio-responsive div {
    width: 943px;
    height: 708px; }
  .modal-responsive .img-ratio-responsive img {
    max-width: 941px;
    max-height: 706px; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2015, 1:35:07 PM
    Author     : Lucian I. Last
*/
@media (min-width: 992px) {
  #filter > .collapse {
    display: block;
    visibility: visible; }
    #filter > .collapse > div {
      padding: 0; } }
@media (max-width: 991px) {
  #filter {
    margin-bottom: 10px; }

  #filter .checkbox {
    /*@extend .checkbox-inline;*/
    margin-top: 0 !important S; }

  #filter button[aria-expanded="true"][data-toggle="collapse"] {
    border-radius: 4px 4px 0 0; }
  #filter .well {
    border-radius: 0 0 4px 4px; } }
#imgGrid img:hover {
  border-color: #BA8D42;
  cursor: pointer; }

#imgGrid {
  margin-bottom: 10px; }

/*# sourceMappingURL=imgGrid.css.map */
