/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2015, 4:04:23 PM
    Author     : Lucian I. Last
*/

// ----------------------------------------------
// quick fix 
// because topbar is not in main content div 
// ----------------------------------------------

html, body {
	height: 100%;
}

// >.container is main content div
body>.container {
	min-height: 69%;
	height: auto;
}

#botbar {
	clear: both;
	position: relative;
	margin: 0;
}

// ----------------------------------------------
// end quick fix
// ----------------------------------------------

// needs .img-ration-responsive to keep center
.social .img-responsive.img-ratio-responsive {
	width: 40px;
}

#botbar {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	* {
		color: $gray-darker !important;
	}
	
	.media {
		margin-bottom: 20px;
	}
	.media-object {
		width: 100px;
	}
}