/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2015, 12:20:01 AM
    Author     : Lucian I. Last
*/

#cvHtml {
	
	h4 {
		margin-top: 20px;
	}
	
	table {
		width: auto !important;
		margin-bottom: 10px;
		
		tr>th,
		tr>td {
			border-top: none;
		}
	}
}