/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 9:11:30 AM
    Author     : Lucian I. Last
*/

$brand-primary: $color2;
$brand-success: $color1;

$modal-inner-padding: 10px;
$modal-title-padding: 10px;
$modal-title-line-height: 1;

$gray-lighter: #D8D8D8;
$navbar-border-radius: 0;
$navbar-default-link-color: $color1;
// Navbar hamburger 
// see _variables.scss 381
/*$navbar-default-toggle-hover-bg:				$color2;
$navbar-default-toggle-icon-bar-bg:		$color2;
$navbar-default-toggle-border-color:		$color2;*/