/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 4:29:56 PM
    Author     : Lucian I. Last
*/

/**********************************/
/*  Full Screen Product           */
/*  ----------------------------  */
/*  .modal-responsive             */
/*  .modalDark				            */
/*  #carousel-full-img            */
/**********************************/

#fullScreen {
	padding-left: 0 !important;
	
	.modal-dialog {
		margin: 0;
		
		// keep modal fullscreen
		width: 100%;
		height: 100%;
		.modal-content {
			//height: 100%; // not sure if nessacery
		}
	
		.modal-body {
			padding: 0;
			padding-top: 10px;
		}
	}
}

.modalDark {
	.modal-backdrop {
		background-color: $grey3;
		&, &.in {
			opacity: 1 !important;
		}
	}
	.modal-dialog {
		background-color: transparent;
	}
	
		.modal-content {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}
			.modal-header {
				background-color: $grey2;
				border-bottom-color: $grey3;
				color: $grey1;
				.small {
					color: $color2;
				}
			}
				
				// close button to red on normal
				.close:not(:active):not(:hover):not(:focus) {
					color: red;
					opacity: 1;
				}
				.close {
					text-shadow: none;
				}
			.well {
				padding: 0 10px;
				@media (max-width: $screen-xs-max) {
					border-radius: 0;
				}
			}
}

.modal-header h4 {
	font-size: 21px;
	
	small {
		font-size: 16px !important;
		font-weight: bold;
		vertical-align: top;
		padding-right: 10px;
	}
}

// Image responsive for fullscreen
// ------------------------------------
@media (max-width: $screen-xs-max) { // xs
  .modal-responsive {
    margin: 0;
		
		.modal-body {
			padding-left: 0;
			padding-right: 0;
		}
		
		.img-ratio-responsive {
			margin-left: auto !important;
			margin-right: auto !important;
		}
  }
}


@mixin imgSizes($width, $height) {
	.modal-responsive .img-ratio-responsive {
		div {
			width: $width;
			height: $height;
		}
		img {
			max-width: $width - 2;
			max-height: $height - 2;
		}
	}
}

@media (max-width: 319px) {
  .modal-responsive .img-ratio-responsive div,
  .modal-responsive .img-ratio-responsive img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 359px) { // xs phone_small
  @include imgSizes(310px, 234px);
}

@media (min-width: 360px) and (max-width: 599px) { // xs phone_large
  @include imgSizes(350px, 264px);
}

@media (min-width:600px) and (max-width: 767px) { // xs tab_standing 
  @include imgSizes(590px, 590px);
}

@media (min-width: 768px) and (max-width: 991px), // sm 
(min-width: 992px) and (max-height: 849px) { // md lg +fat 
  @include imgSizes(718px, 539px);
}

@media (min-width: 992px) and (min-height: 850px) { // md lg +tall 
  .modal-responsive {
    width: 955px;
  }
  @include imgSizes(943px, 708px);
}

