/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2015, 2:39:30 PM
    Author     : Lucian I. Last
*/

// for hovering dropdown
// ---------------------------------------------------
@media(min-width: $screen-sm-min) {
	.hoverShow:hover .dropdown-menu {
		display: block;
	}
}

// carousel edit
// ---------------------------------------------------
.carousel-indicators {
	// Arrows Prev and Next
	$arrowSize: 10px;
	$colorGlueArrow: blue; //testing
	&>li[data-slide='prev'],
	&>li[data-slide='next'] {
		width: 0 !important;
		height: 0 !important;
		$topandbottom: $arrowSize/2 solid transparent !important;
		border-top: $topandbottom;
		border-bottom: $topandbottom;
		
		background-color: transparent !important;
		margin: 1px !important;
		border-radius: 0 !important;
	}
	
	>li[data-slide='prev'] {
		border-right: $arrowSize solid $colorGlueArrow;
		border-left: 0 !important;
	}
	>li[data-slide='next'] {
		border-left: $arrowSize solid $colorGlueArrow;
		border-right: 0 !important;
	}
	
	// Blank transparent space
	>li[data-slide='blank'] {
		$colorBlank: transparent !important;
		
		border-color: $colorBlank;
		background-color: $colorBlank;
		color: $colorBlank;
		cursor: default !important;
	}
	
}

.carousel .carousel-control {
	width: 75px;
}

// img-ratio-responsive
// ---------------------------------------------------
.img-ratio-responsive {
  display: table;
  margin: 0 auto 10px;
	
	>.wrapper-img {
		display: table-cell;
		vertical-align: middle;
		/* must have a width and height */
	}
	
	>.wrapper-img > img {
		display: block;
		margin: 0 auto;
		/* must have a max-width and max-height */
		border: 1px solid;
		border-color: grey;
	}
}

.img-ratio-col .img-ratio-responsive > .wrapper-img {
	$width: 202px; //350px;
	$height: $width /4*3; //  152px; //200px;
	
  width: $width;
  height: $height;
	
	>img {
		max-width: $width - 4;
		max-height: $height - 4;
	}
}

// alt font
// ---------------------------------------------------
.alt-font,
.alt-font * {
	font-family: TypeWriter;
	font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, sans-serif;
}

// text-ellipsis
// ---------------------------------------------------
@mixin ellipsis-show-all {
	// destroy ellipsis flow
		white-space: normal;
		background-color: white;
		z-index: 1;
}
@media (min-width: $screen-sm-min) {
	p.text-ellipsis {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&:hover {
			@include ellipsis-show-all;
		}
	}

	div.text-ellipsis {
		position: relative;

		>.text-ellipsis {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		>*:not(.text-ellipsis) {
			opacity: 0;
		}

		&:hover .text-ellipsis {
			@include ellipsis-show-all;
		}


		// bootstrap p or h[1-6] margin correction
		margin-bottom: 10px;
		>*{
			margin-bottom: 0;
		}
	}
	
	.text-ellipsis-hover:hover .text-ellipsis {
		@include ellipsis-show-all;
	}
}
@media (max-width: $screen-xs-max) {
	div.text-ellipsis>*:not(.text-ellipsis) {
		display: none;
	}
}

// better Well
// ----------------------------------------------
.well {
	padding-bottom: 9px; // -10px
}
.well-lg {
	padding-bottom: 14px; // -10px
}
.well-sm {
	padding-bottom: 2px; // added 2px for looks
}

// A like Div
// ----------------------------------------------
.aLikeDiv,
.aLikeDiv *:not(a) *:not(a),
.aLikeDiv>*:not(a) {
	color: $gray-darker;
	text-decoration: none !important;
}