/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2015, 12:31:18 PM
    Author     : Lucian I. Last
*/

//super long selector to keep default
.headerFooter {
	background-image: url('../images/_web/navbar.jpg');
	border-style: none;
	
	.navbar-header {
		border-color: transparent;
		border-radius: 0;
	}
	
	// .navbar-nav colours
	.navbar-nav > li {
		>a {
			border-color: transparent !important;
			
			&:active {
				border-color: $color1;
			}
		}

		&:hover > a {
			border-color: $gray-dark;
		}

		&.active > a {
			border-color: transparent;
			color: $color2;
			background-color: white;
		}
	}
	
	// .navbar-nav a size
	.navbar-nav > li > a {
		border-bottom: 3px solid;
		padding-bottom: 12px;
	}
}