/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2015, 2:38:47 PM
    Author     : Lucian I. Last
*/



.carousel.slide.fadding > .carousel-inner {
	> .item {
		opacity: 0;
		transition: opacity 0.6s ease-in-out 0s !important;

		// disable sliding
		left: 0 !important;
		right: 0 !important;
	}

	> .active {
		opacity: 1;
		// after opacity change
		&.left,
		&.right {
			opacity: 0;
		}
	}
	
	> .next,
	> .prev {
		&.left,
		&.right {
			transition-delay: 0.3s !important;
			opacity: 1;
		}
	}

}

#carousel-home img {
	height: 30em;
	margin: 0 auto 10px;
	display: block;
}
@media(max-width: $screen-xs-max) {
	#carousel-home img {
		height: auto;
		width: 100%;
	}
}

#carousel-home .carousel-control {
	opacity: 0.2;
	&:not(:hover) {
		background-image: none;
	}
	&:active {
		opacity: 0.5;
	}
	
	>span {
		color: $gray-light;
	}
	&:hover > span {
		color: white;
	}
}

// tablets, phones
@media(max-width: $screen-sm-max) {
	#carousel-home .carousel-control {
		
	}
}
// desktop
@media(min-width: $screen-md-min) {
	#carousel-home .carousel-control {
		background-image: none;
		
		&:hover span {
			text-shadow: 0 1px 8px black;
		}
		&:active span {
			text-shadow: 0 1px 8px $color2;
		}
		
	}
}