/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2015, 1:35:07 PM
    Author     : Lucian I. Last
*/

@media(min-width: $screen-md-min) {
	#filter > .collapse {
		// keep visible
		display: block;
		visibility: visible;
		
		> div {
			// nullify row padding
			padding: 0;
		}
	}
	
}

@media(max-width: $screen-sm-max) {
	#filter {
		margin-bottom: 10px;
	}
	
	#filter .checkbox {
		/*@extend .checkbox-inline;*/
		margin-top: 0 !importantS;
	}
	
	// filter box border-radius
	#filter {
		button[aria-expanded="true"][data-toggle="collapse"] {
			border-radius: 4px 4px 0 0;
		}

		.well {
			border-radius: 0 0 4px 4px;
		}
	}
}

#imgGrid img:hover {
	border-color: $brand-primary;
	cursor: pointer;
}

#imgGrid {
	margin-bottom: 10px;
}