/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 8:38:06 PM
    Author     : Lucian I. Last
*/

// Colour glue for topbar
$glueTopbarText: $color1;
$glueTopbarBkgd: $color2;

#topbar .navbar-header {
	float: none;
}

.navbar-brand {
	font-family: Helvetica, sans-serif;
	
	@media(min-width: $screen-sm-min) {
		// make navbar-brand above navbar-nav
		height: auto; 
		
		font-size: 30px;
		line-height: normal; // resets height of text
	}
	@media(max-width: $screen-xs-max) {
		font-size: 20px;
	}	
}


// Edit hamburger menu button
#topbar .navbar-toggle {
	// normal state
	border-color: transparent;
	.icon-bar {
		background-color: $glueTopbarText;
	}
	
	// hover state
	&:focus, &:hover {
		background-color: transparent;
		border-color: $gray-dark;
		.icon-bar {
			background-color: $gray-dark;
		}
	}
}

// Edit dropdown of nav
/*.navbar-nav > li > .dropdown-menu a {
	font-size: 16px;
}*/